.grad {
    background: linear-gradient(45deg, #32a03d, #6cb96d);
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slideInLeft {
    animation: slideInLeft 1s ease-in-out;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
  
  .spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animated-link {
    position: relative;
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.animated-link:hover {
    color: #0056b3;
}

.animated-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #007bff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.animated-link:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.animated-link {
    animation: blink 1s infinite;
}

.welcome-card {
    background-color: #e8f5e9; /* Light green background */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #c8e6c9;
}

.welcome-card h5 {
    color: #388e3c; /* Darker green color */
    font-weight: bold;
}

.welcome-card div {
    margin-top: 5px;
}

.user-info-table {
    width: 100%;
    margin-top: 5px;
    border-collapse: collapse;
}

.info-label {
    font-weight: bold;
    font-size: 18px;
    color: #2e7d32;
    padding: 10px;
    background-color: #f1f8e9;
    border: 1px solid #c8e6c9;
}

.info-value {
    font-size: 18px;
    color: #2e7d32;
    padding: 10px;
    background-color: #f1f8e9;
    border: 1px solid #c8e6c9;
}


  