<div style="background-image: url('assets/image/db-bg.jpg'); width: 100%; height: 100%;">
<div class="main-content">
    <mat-card style="padding: 50px;">
        <mat-card class="grad">
            <h5>Laporan Tugas Harian</h5>
        </mat-card>
        <br>
        <div style="text-align: center;">
            <mat-form-field appearance="fill" style="width: 600px;">
                <mat-label>Nama Penjawat</mat-label>
                <mat-select [(ngModel)]="selectedEmpId" (ngModelChange)="filterLaporanByName()">
                    <mat-option *ngFor="let item of employees" [value]="item.empId">{{item.empName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <br>
        <table *ngIf="filteredLaporanMain.length > 0; else noData">
            <tr>
                <th style="width: 10%;">BIL.</th>
                <th>TARIKH</th>
                <th>NAMA</th>
                <th>STATUS</th>
                <!-- <th colspan="2">KELULUSAN</th> -->
            </tr>
            <tr *ngFor="let item of filteredLaporanMain; let i=index">
                <td>{{i + 1}}</td>
                <td><a routerLink="/laporanTHIndividu/{{item.id}}">{{item.tarikh}}</a></td>
                <td>{{item.empName}}</td>
                <td>{{item.statusThName}}</td>
                <!-- <td style="text-align: center;">
                    <button mat-icon-button >
                        <img src="assets/image/approve.png" alt="Approve" width="24" height="24">
                    </button>
                </td>
                <td style="text-align: center;">
                    <button mat-icon-button (click)="tolak()">
                        <img src="assets/image/notapprove.png" alt="Not Approve" width="35" height="35">
                    </button>
                </td> -->
            </tr>
        </table>
        <ng-template #noData>
            <div class="no-data-message">Tiada rekod harian</div>
        </ng-template>
    </mat-card>
</div>
</div>