<div style="background-image: url('assets/image/db-bg.jpg'); width: 100%; height: 100%;">
    <div class="main-content">
        <mat-card style="padding: 50px;">
            <mat-card class="grad">
                <h5>Laporan Tugas Harian</h5>
            </mat-card>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Pilih Bulan</mat-label>
                <mat-select [(value)]="selectedMonth" (selectionChange)="filterReports()">
                    <mat-option *ngFor="let month of months" [value]="month.value">{{ month.viewValue }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="padding-left: 20px;">
                <mat-label>Pilih Tahun</mat-label>
                <mat-select [(value)]="selectedYear" (selectionChange)="filterReports()">
                    <mat-option *ngFor="let year of years" [value]="year.value">{{ year.viewValue }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="padding-left: 20px;">
                <mat-label>Pilih Status</mat-label>
                <mat-select [(value)]="selectedStatus" (selectionChange)="filterReports()">
                    <mat-option *ngFor="let stat of statuses" [value]="stat.id">{{ stat.statusTH }}</mat-option>
                </mat-select>
            </mat-form-field>
            <table *ngIf="displayedLaporanMain.length > 0; else noData">
                <tr>
                    <th style="width: 10%;">BIL.</th>
                    <th>TARIKH</th>
                    <th>STATUS</th>
                    <th>TARIKH KELULUSAN</th>
                </tr>
                <tr *ngFor="let item of displayedLaporanMain; let i=index">
                    <td>{{i + 1}}</td>
                    <td><a routerLink="/laporanTHIndividu/{{item.id}}">{{item.tarikh}}</a></td>
                    <td>{{item.statusThName}}</td>
                    <td><ng-container *ngIf="item.tarikhKelulusan; else noTarikh">
                            {{item.tarikhKelulusan}}
                        </ng-container>
                        <ng-template #noTarikh>
                            -
                        </ng-template>
                    </td>
                </tr>
            </table>
            <ng-template #noData>
                <div class="no-data-message">Tiada laporan tugasan harian untuk dipaparkan.</div>
            </ng-template>
        </mat-card>
    </div>
</div>