<div style="background-image: url('assets/image/db-bg.jpg'); width: 100%; height: 100%;">
<div class="main-content">
    <mat-card style="padding: 50px;">
        <h5>Laporan Tugasan Harian pada : {{ dateDisplay }}</h5>

        <button type="button" class="btn btn-warning" (click)="simpan()" [disabled]="isDisabled"
            style="position: absolute;right: 225px;top: 60px; text-align: left;width: 160px;">
            Simpan Draf&nbsp;
            <i class="material-icons" style="font-size: 20px;position: absolute; right: 6px; top: 8px">save</i>
        </button>
        <button type="button" class="btn btn-success" (click)="hantar()" [disabled]="isDisabled"
            style="position: absolute;right: 50px;top: 60px; text-align: left;width: 160px;">
            Hantar Laporan&nbsp;
            <i class="material-icons" style="font-size: 20px;position: absolute; right: 6px; top: 8px">send</i>
        </button>

        <table style="margin-top: 35px;">
            <tr>
                <th style="width: 5%;">Bil.</th>
                <th style="width: 70%;">Aktiviti/Perkara</th>
                <th style="width: 10%;">Mula</th>
                <th style="width: 10%;">Tamat</th>
                <th style="width: 5%;">Padam</th>
            </tr>
            <tr *ngFor="let item of tugasan; let i=index">
                <td style="text-align: center;"><input class="transparentInput" name="bil">{{i + 1}}</td>
                <td>
                    <textarea [ngxSummernote]="config" class="transparentInput" name="tugas" ngModel [(ngModel)]="tugasan[i].tugasanHarian"
                        [disabled]="isDisabled"></textarea>
                    
                </td>
                <td>
                    <select class="custom-select" name="masaMula" [(ngModel)]="tugasan[i].masaMula" [disabled]="isDisabled" (change)="tugasan[i].masaTamat = ''; tugasan[i].filteredMasaTamatOptions = getFilteredMasaTamat(tugasan[i].masaMula)"
                    [ngClass]="{
                        'border-red': !item.masaMula || item.masaMula === '',
                        'border-green': item.masaMula && item.masaMula !== ''
                    }">
                        <option *ngFor="let time of timeOptions" [value]="time">{{ time }}</option>
                      </select>
                </td>
                <td>
                    <select class="custom-select" name="masaTamat" [(ngModel)]="tugasan[i].masaTamat" [disabled]="isDisabled"
                    [ngClass]="{
                        'border-red': !item.masaTamat || item.masaTamat === '',
                        'border-green': item.masaTamat && item.masaTamat !== ''
                    }">
                        <option *ngFor="let time of tugasan[i].filteredMasaTamatOptions" [value]="time">{{ time }}</option>
                      </select>
                </td>
                <td>
                    <i class="material-icons"
                        style="font-size: 18px;color: rgb(177, 15, 15);margin: 18px;font-weight: 900;cursor: pointer;"
                        (click)="padam(i)" [ngClass]="{'disabled-icon': isDisabled}">delete</i>
                </td>
            </tr>
        </table>

        <div class="butt-button">
            <button type="button" class="btn btn-light dullButton" (click)="tambah()" [disabled]="isDisabled"
                style="width: 150px; display: flex; align-items: center; justify-content: space-between;">
                <span>Tambah Laporan</span>
                <i class="material-icons" style="font-size: 20px; font-weight: 700;">add</i>
            </button>
        </div>
    </mat-card>
</div>
</div>