.content {
    position: relative;
}

mat-card {
    position: absolute;
    padding: 50px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.stack-top {
    z-index: 9;
    margin: 0 auto;
    width: 300px;
    height: 200px;
    box-shadow: 0px 6px 40px 8px rgba(71, 71, 71, 0.767);
}

table {
    width: 100%;
    border-spacing: 0;
    margin-top: 35px;
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #e5e5e5;
    color: rgb(61, 61, 61);
    padding: 15px;
    text-align: left;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

td {
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 0 solid #eee;
}

th {
    padding: 10px;
    background-color: #218838;
    color: #ffffff;
    border-bottom: 0 solid #eee;
    font-weight: 400;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

td {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1);
}

.transparentInput {
    border: none;
    background: transparent;
    width: 100%;
    box-shadow: none;
    padding: 5px;
}

textarea.transparentInput {
    resize: none;
    width: 100%;
}

.material-icons {
    vertical-align: middle;
}

.butt-button .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 150px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.butt-button .btn:hover {
    background-color: #218838;
}

.butt-button .btn .material-icons {
    font-size: 20px;
    font-weight: 700;
}

.custom-select {
    width: 90%;
    margin: auto;
}

.custom-select select {
    display: inline-block;

    font-size: 16px;
    border: 1px solid #a5aeb8;
    background-color: #ebeaea;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select select:focus {
    outline: none;
    border-color: #5b9dd9;
    /* example focus color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.border-red {
    border: 2px solid red !important;
}

.border-green {
    border: 2px solid green !important;
}

