<div *ngIf="!isAuthenticated(); else loggedIn">
    <router-outlet></router-outlet>
</div>
<ng-template #loggedIn>
    <nav class="main-menu">
        <ul>
            <li>
                <a routerLink="lamanUtama">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Laman Utama
                    </span>
                </a>
            </li>
            <!-- <li>
                <a routerLink="profil">
                    <i class="fa fa-user fa-2x"></i>
                    <span class="nav-text">
                        Profil
                    </span>
                </a>
            </li> -->
            <li class="has-subnav">
                <a routerLink="/tambahTugasanHarian">
                    <i class="fa fa-plus-circle fa-2x"></i>
                    <span class="nav-text">
                        Tambah Tugasan Harian
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a routerLink="/senaraiDeraf">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Senarai Draf / Pembetulan
                    </span>
                </a>
            </li>
            <li *ngIf="this.employees.length > 0" class="has-subnav">
                <a routerLink="/kelulusanTugasHarian">
                    <i class="fa fa-check-circle fa-2x"></i>
                    <span class="nav-text">
                        Kelulusan Tugas Harian
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a routerLink="/senaraiLaporanIndividu">
                    <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                        Laporan Individu
                    </span>
                </a>
            </li>
            <!-- <li *ngIf="this.employees.length > 0" class="has-subnav">
                <a routerLink="/senaraiLaporanKeseluruhan">
                    <i class="fa fa-folder fa-2x"></i>
                    <span class="nav-text">
                        Senarai Laporan
                    </span>
                </a>
            </li> -->

            <li *ngIf="this.employees.length > 0" class="has-subnav">
                <a (click)="toggleSubNav('laporan')">
                    <i class="fa fa-folder fa-2x"></i>
                    <span class="nav-text">
                        Senarai Laporan
                    </span>
                </a>
                <ul *ngIf="subNavOpen.laporan" class="sub-nav">
                    <li>
                        <a routerLink="/senaraiLaporanKeseluruhan">
                            <i class="fa fa-file-text fa-2x"></i>
                            <span class="nav-text">TH (Selesai)</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/senaraiLaporanSemak">
                            <i class="fa fa-file fa-2x"></i>
                            <span class="nav-text">TH (Status Semasa)</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="logout">
            <li>
                <a (click)="logOut()">
                    <i class="fa fa-sign-out fa-2x"></i>
                    <span class="nav-text">
                        Log Keluar
                    </span>
                </a>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
</ng-template>