<div class="main-content">
    <mat-card style="padding: 50px;">
        <mat-card class="grad">
            <h5>Senarai Deraf / Pembetulan</h5>
        </mat-card>
        <br>
        <table>
            <tr>
                <th style="width: 10%;">BIL.</th>
                <th>TARIKH</th>
                <th>NAMA</th>
                <th>STATUS</th>
            </tr>
            <tr *ngFor="let item of laporanMain; let i=index">
                <td>{{i + 1}}</td>
                <td><a routerLink="/kemaskiniTH/{{item.id}}">{{item.tarikh}}</a></td>
                <td>{{item.empName}}</td>
                <td>{{item.statusName}}</td>
                <!-- <td><a routerLink="/rekod" (click)="onSelectData(item)">{{item}}</a></td> -->
            </tr>
        </table>
    </mat-card>
</div>
