html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(163, 163, 163);  background-image:url('assets/image/db-bg.jpg');}
body::before {
  content: "";
  position: fixed; /* Ensure it covers the whole viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/image/db-bg.jpg');
  background-size: cover; /* Cover the whole area */
  background-repeat: no-repeat; /* Prevent repeating */
  background-position: center; /* Center the image */
  opacity: 0.8; /* Adjust the opacity as needed */
  z-index: -1; /* Ensure it is behind the content */
}
.main-content {
    margin-left: 67px;
    padding-top: 10px;
    margin-right: 2%;
}
.main-content-login {
  margin: 5px;
}

table{
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

td, th {
  border: 1px solid #ddd !important;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.butt-button {
  margin-top: 20px;
  float: right;
}

.jumbotron { 
  background-color: white;
  box-shadow: 0px 2px 20px 4px rgba(87, 87, 87, 0.671);
}

.transparentInput{
  background:none;
  background-color: rgba(0,0,0,0) !important;
  border:none !important;
  outline:none; 
  box-shadow: none;
  width:100%
}

.required {
  font-size: 14px;
  color: red;
  font-weight: 600;
}

.dullButton{
  color: rgb(255, 255, 255) !important;
  background-color: rgb(19, 45, 132)!important;
  border: 1px solid rgb(209, 209, 209) !important;
  padding: 6px !important;
  font-size: 15px !important;
  -webkit-box-shadow: 0 10px 6px -6px #777 !important;
   -moz-box-shadow: 0 10px 6px -6px #777 !important;
        box-shadow: 0 10px 6px -6px #777 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
