.grad {
    width: auto;
    margin-bottom: 0;
    padding: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: green;
    font-weight: 500;
    text-align: center;
    color: #fff;
    height: 40px;
}

table {
    width: 100%;
    border-spacing: 0;
    margin-top: 35px;
    border-radius: 1px;
    overflow: hidden;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #e5e5e5;
    color: rgb(61, 61, 61);
    padding: 15px;
    text-align: left;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

td {
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 0 solid #eee;
}

th {
    padding: 10px;
    background-color: #218838;
    color: #ffffff;
    border-bottom: 0 solid #eee;
    font-weight: 500;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

td {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.1);
}

.no-data-message {
    text-align: center;
    color: #888;
    font-style: italic;
    padding: 20px;
}
