<div class="main-content">
    <mat-card style="padding: 50px;">
        <mat-card class="grad">
            <h5>Kelulusan Tugas Harian</h5>
        </mat-card>
        <br>
        <div>
            <mat-form-field>
                <mat-label>Unit</mat-label>
                <mat-select [(value)]="selectedUnitId">
                    <mat-option *ngFor="let item of units" [value]="item.unit_id">{{item.instant}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 510px;margin-left: 10px;">
                <mat-label>Nama Penjawat</mat-label>
                <mat-select [(value)]="selectedEmpId">
                    <mat-option *ngFor="let item of employees" [value]="item.empId">{{item.empName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field style="margin-left: 10px;">
                <mat-label>Tarikh</mat-label>
                <input matInput [matDatepicker]="tarikhPicker" name="selectedDate" [(ngModel)]="selectedTarikh">
                <mat-datepicker-toggle matSuffix [for]="tarikhPicker"></mat-datepicker-toggle>
                <mat-datepicker #tarikhPicker></mat-datepicker>
            </mat-form-field>
            <button type="button" class="btn btn-success" style="margin-left: 27px;width: 130px;" (click)="cari()">
                Cari
            </button>
        </div>
        <table *ngIf="laporanMain.length > 0; else noData">
            <tr>
                <th style="width: 10%;">BIL.</th>
                <th>TARIKH</th>
                <th>NAMA</th>
                <th>STATUS</th>
                <th>KELULUSAN</th>
            </tr>
            <tr *ngFor="let item of laporanMain; let i=index">
                <td>{{i + 1}}</td>
                <td><a routerLink="/kelulusanTH/{{item.id}}">{{item.tarikh}}</a></td>
                <td>{{item.empName}}</td>
                <td>{{item.statusThName}}</td>
                <td></td>
            </tr>
        </table>
        <ng-template #noData>
            <div class="no-data-message">Tiada tugasan harian untuk diluluskan.</div>
        </ng-template>
    </mat-card>
</div>